
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.app {
    background: #f3f2fa;
    padding: 80px;
    min-height: 860px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #c59d5f;
    font-weight: 600;
    letter-spacing: 2px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col {
    flex: 1 0 0%;
}

.category {
    width: 50%;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.title {
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 4px;
}

.justify-content-between {
    justify-content: space-between!important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.button {
    color: #af9839;
    border: 2px solid #af9839;
    transition: 0.3s all linear;
    padding: 4px 5px;
    background: white;
}

.button:hover{
    transform: rotate(90deg);
    cursor: pointer;
}

.content {
    display: none;
    border-top: 1px solid #c7c5c5;
    color: #1c69a8;
    padding-top: 10px;
    font-size: 18px;
}


 

